
<div class="card" style="width: 18rem;">
  <!-- <img src="" class="card-img-top" alt="Chicago Skyscrapers"/> -->
  <div class="card-body">
    <h5 class="card-title">image</h5>
    <p class="card-text">A propos:</p>
  </div>
 
  <ul class="list-group list-group-light list-group-small">
    <li class="list-group-item px-4"><strong>username:</strong>{{currentuser.username}}</li>
    <li class="list-group-item px-4"><strong>prenom:</strong>{{currentuser.firstname}}</li>
    <li class="list-group-item px-4"><strong>nom:</strong>{{currentuser.lastname}}</li>
  
  </ul>
  <!-- <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->
</div>



