/* .a{
    margin-top:350px;
    margin-left: 610px;
    color: #006729;
   }
 */
 .alert {
    padding: 20px;
    background-color: #006729;
    color: white;

    margin:250px;

  }
  
  .closebtn {
    margin-left: 15px;
    color: #006729;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  