

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">
        <div class="testimonial-item" style="margin-right: 25%;">   <img src="../../assets/img/ATB.jpg"  style="width:150px;height:70px;" class="testimonial-img" alt=""></div>
        <nav id="navbar" class="navbar">
          <ul>
         
         
            <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
            <li><a class="nav-link scrollto" href="#about">A propos</a></li>
            <li><a class="nav-link scrollto " href="#contact">Contact</a></li>
            <li><a class="nav-link scrollto" routerLink="/login">Login</a></li>
            <li><a class="nav-link scrollto" routerLink="/signup">S'inscrire</a></li>
            <!-- <a href="http://localhost:8081/Elearning/activecompte/{username}">a</a> -->
      
           
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    
      </header>
      
    
    
      <main id="main">
    
        <!-- ======= About Me Section ======= -->
        <section id="about" class="about">
          <div class="container">
    
            <div class="section-title">
              <span>A propos</span>
              <h2>A propos</h2>
            </div>
            <div class="row">
              <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
              <div class="col-lg-8 d-flex flex-column align-items-stretch">
                <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                  <div class="row">
                   <strong> <p class="espaceentre">Historique</p></strong> 
                      <p class="espaceentre">
                        Aujourd'hui, le Groupe Arab Bank, c'est plus de 600 agences dans 30 pays, sur les 5 continents.

                        Sur le plan international, elle se classe parmi les meilleures banques au niveau de ses résultats, de l'importance de ses fonds propres et de ses actifs.
                        
                        L'ARAB TUNISIAN BANK, banque commerciale de droit Tunisien a été créée le 30 Juin 1982 par l'intégration de l'agence de Tunis de l'Arab Bank Plc et l'apport de personnes physiques tunisiennes.
                        
                        Elle s'est donnée pour mission de contribuer au développement économique et financier du pays, en offrant un service diversifié et de qualité.
                        
                        Dès sa création, l'ARAB TUNISIAN BANK a mené une politique active d'organisation, de structuration et de développement du fonds de commerce, apporté par l'Arab Bank, se donnant ainsi la possibilité de se positionner favorablement dans un environnement concurrentiel et en perpétuelle mutation.
                        
                      </p>
                    
                  </div>
                  <div class="row mt-n4">
                    
    
                    <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <strong></strong> <p id="Company">
                          L'ATB dispose aujourd'hui d'un réseau de plus de 131 agences et emploie plus de 1300 personnes.

Saisissant les opportunités nouvelles qui se sont présentées au secteur, elle a développé une stratégie de filialisation qui s'est traduite à ce jour par la création de sociétés spécialisées.

Les axes les plus importants de la stratégie de développement de la banque en vue de consolider sa position sur le marché national et d'accroître son champs d'action sont en effet :

Une orientation plus soutenue vers le marché des particuliers sans toutefois négliger sa cible privilégiée (les PME et les grandes entreprises).

Le développement d'une synergie de groupe entre la banque et ses filiales.</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <strong>Atout
                          Une prestation personnalisée</strong> 
                          <p id="Company"> ("لما عزمت على تأسيس هذا البنك، لم أشأ أن أطلق عليه اسمي أو اسم قريتي بيت حنينا أو بلدي فلسطين... بل اسم الأمة العربية والوطن الكبير فسميته البنك العربي" - (الراحل عبد الحميد شومان (1890 - 1974</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
    
              </div>
            </div>
    
          </div>
        </section><!-- End About Me Section -->
    
        
    
        <!-- ======= Contact Me Section ======= -->
        <section id="contact" class="contact">
          <div class="container">
    
            <div class="section-title">
              <span>Nous contacter</span>
              <h2>Nous contacter</h2>
            </div>
    
            <div class="row">
              <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" required />
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder=" Email"  />
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet"  required />
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required  ></textarea>
                  </div>
                  <div class="my-3">
                    
                    <div class="loading">Loading</div>
                    <div class="error-message"></div> 
                    <div class="sent-message">Votre message a été envoyé. Merci!</div>
                  </div>
                  <div class="text-center"><button   type="submit">Envoyer le message</button></div>
                </form>
                <div class="social-links">
                  <a href="https://twitter.com/CCK_MESRS" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/CCK.MESRS" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/tunisian_aircraft_engineer/" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/mohamed-sadok-boulahia-44a84422/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
    
              <div class="col-lg-6">
                <div style='display:flex'>
                <div >   <img src="../../assets/images/banner-img.png"  alt="customerpic">
                   <p>Customers Relations<br>
                    (+216) 70 241 900<br>
                    E-mail: info@cck.rnu.tn</p></div>
                <p>&nbsp;&nbsp;&nbsp;</p>
                
              </div>
                <div class="row">
                  <div style="width: 35%;">
                    <div class="info-box mt-4">
                      <i class="bx bx-envelope"></i>
                      <h3>Email</h3>
                      <p>atb.tn</p>
                    </div>
                  </div>
                  <div style="width: 30%;">
                    <div class="info-box mt-4">
                      <i class="bx bx-phone-call"></i>
                      <h3>Phone</h3>
                      <p>(+216) 70 241 900</p>
                    </div>
                  </div>
                  <div style="width: 30%;">
                    <div class="info-box mt-4">
                      <i class="bx bx-world"></i>
                      <h3>Fax</h3>
                      <p>(+216) 70 241 900</p>
                    </div>
                  </div>
                </div>
    
              </div>
    
              
    
            </div>
    
          </div>
        </section><!-- End Contact Me Section -->
    
      </main><!-- End #main -->
    
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="container">
          <h3>Meilleur Agence</h3>
          <p>MH&W</p>
          <div class="social-links">
            <a href="https://twitter.com/CCK_MESRS" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/CCK.MESRS/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/72087734/admin/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </footer>
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>
    
      